<div class="container">
  <div class="title">
    <span>Angular - Software developer Thanh Duong</span>
    <span><i>Đăng nhập tài khoản</i></span>
  </div>

  <div class="form">
    <mat-form-field appearance="fill">
      <mat-label>User/ email</mat-label>
      <input matInput type="text" autocomplete="false">
<!--      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"></button>-->
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" autocomplete="false">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="spinner-border" role="status">

  </div>
  <span class="sr-only">Loading...</span>


</div>


