.container-fluid {
  height: 100%;
}

.logo-title {
  text-align: center;
  padding-top: 5%;
  img {
    width: 50pt;
    height: 48pt;
  }

  h3, h4 {
    font-family: cursive;
  }

  div {
    font-size: 25pt;
    color: white;
    font-weight: bold;
    font-family: 'Roboto';
  }

  h3 {
    font-weight: bold;
  }
}

.authentication {
  margin: auto;
  width: 45%;
  box-shadow: 4px 4px 4px 0px #9e9e9e;
  border: 1px solid #9e9e9e;

  .mat-card-header {
    font-family: cursive;
  }
}

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    width: 25%;
    &:hover {
      box-shadow: 4px 4px 4px #9e9e9e;
    }
  }

  .btn-link {
    text-decoration: underline;
    color: #39d0ff;
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .authentication {
    width: 85%;
  }
}
